<%- include('./partials/header') %>

<div class="flex flex-col items-center justify-center min-h-screen">
    <h1 class="text-3xl font-bold mb-4">Order Placed!</h1>
    <p>Your order has been successfully placed.</p>
    <a href="/shop" class="mt-5 px-4 py-2 bg-blue-500 text-white rounded">Home</a>
</div>

<%- include('./partials/footer') %>